* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-size: 10px;
  background-color: #f4f4f4;
}
.wrapper {
  width: 1200px;
  margin: 0px auto;
  padding: 0 20px;
  position: relative;
}

.title {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  padding: 10px 0;
  color: #1b078a;
  margin-bottom: 50px;
}
